* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgba(34, 34, 34, 0.747);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  height: 50%;
  width: 50%;
  background-color: black;
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.box {
  height: 100%;
  width: 100%;
  border: 3px solid lightgray;
  background-color: black;
  color: white;
  font-size: 4rem;
}

.playBtn {
  height: 10%;
  width: 50%;
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  letter-spacing: 10px;
  border: none;
  border-radius: 20px;
  background-color: lightgrey;
  cursor: pointer;
  margin-bottom: 20px;
}
.playBtn:hover,
.reset:hover {
  background-color: rgba(211, 211, 211, 0.87);
}

.playerName {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 10px;
}

.playerName label {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-family: inherit;
  width: 70%;
}
.playerName input {
  width: 100%;
  height: 80%;
  margin-left: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 2rem;
  font-family: inherit;
}
.reset {
  height: 5%;
  width: 15%;
  border: none;
  border-radius: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  background-color: lightgrey;
  cursor: pointer;
  margin-top: 20px;
  display: none;
}
.playerTurn {
  color: rgba(255, 255, 255, 0.664);
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
  padding-bottom: 30px;
  display: none;
}
